#nav-logo i{
    color: #868e96 !important;
    font-size: 25px;
}
#nav-logo i:hover{
    color: white !important;
    font-size: 25px;
}
#nav-icons i{
    color: #868e96 !important;
    font-size: 25px;
}
#nav-icons i:hover{
    color: white !important;
    font-size: 25px;
}