{% extends 'base.html' %}

{% block title %} confirm {% endblock %}

{% block content %}

    <div class="jumbotron jumbotron-fluid" id="site-title">
        <div class="container" style="text-align: center">
            <h1><p class="lead">Success!</p></h1>
            <p class="lead">Now You can Sign In</p>
          </div>
    </div>
    <div id="reg-form" class="container">
                    <div class="form-group">
                        <div id="form-title" class="jumbotron jumbotron">
                          <div class="container">
                              <h1 class="lead">Your account was successfully confirmed</h1>
                          </div>
                        </div>
                    </div>
    </div>

{% endblock %}