{% extends 'base.html' %}

{% block content %}

    <div class="jumbotron jumbotron-fluid">
        <div class="container" style="text-align: center">
            <h1 class="display-3">Sign Up to RYS</h1>
            <p class="lead">After Sign Up we will send confirmation email to You. To confirm your email account, just use link You can find in the message</p>
          </div>
    </div>

    <form method="POST" class="post-form"> {% csrf_token %}
        <div id="reg-form" class="container"">
                    <div class="form-group">
                        <div class="input-group input-group-lg">
                            <input type="text" class="form-control" required="required" placeholder="Login" aria-label="Login" aria-describedby="sizing-addon1" name="login">
                            <span class="input-group-addon" id="sizing-addon1"><i class="fa fa-user-circle-o" aria-hidden="true"></i></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group input-group-lg">
                            <input id="password" type="password" class="form-control" required="required" placeholder="Password" aria-label="Password" aria-describedby="sizing-addon1" name="password">
                            <span class="input-group-addon" id="sizing-addon1"><i class="fa fa-key" aria-hidden="true"></i></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group input-group-lg">
                            <input id="confirm_password" type="password" class="form-control" required="required" placeholder="Confirm Password" aria-label="Confirm Password" aria-describedby="sizing-addon1" name="confirm_password">
                            <span class="input-group-addon" id="sizing-addon1"><i class="fa fa-key" aria-hidden="true"></i></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group input-group-lg">
                            <input type="email" class="form-control" required="required" placeholder="Email" aria-label="Email" aria-describedby="sizing-addon1" name="email">
                            <span class="input-group-addon" id="sizing-addon1"><i class="fa fa-envelope-o" aria-hidden="true"></i></span>
                        </div>
                    </div>
            <div class="form-group row">
              <div class="offset-sm-2 col-sm-10">
                <button type="submit" class="btn btn-primary">Sign up</button>
            </div>
        </div>
    </div>
    </form>

{% endblock %}

{% block error %}

    {% for message in messages %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <strong>Error!</strong> {{ message }}
        </div>
    {% endfor %}

{% endblock %}
