{% extends 'base.html' %}

{% block title %} reset {% endblock %}

{% block content %}

    <div class="jumbotron jumbotron-fluid" id="site-title">
      <div class="container">
        <h1 class="display-3">Reset password</h1>
        <p class="lead">Follow instructions below</p>
      </div>
    </div>

{% endblock %}

{% block error %}

            <div class="alert alert-success alert-dismissible fade show" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <strong>Password reset successful</strong> Now You can Sign In using new password
            </div>

{% endblock %}