{% extends 'base.html' %}

{% block title %} Search {% endblock %}

{% block content %}

    <div class="jumbotron jumbotron-fluid" id="site-title">
      <div class="container">
          <h1><p class="lead">Welcome to "Rate Your Subjects" App!</p></h1>
        <p class="lead">RYS is a simple django app helping You enjoy your students life</p>
      </div>
    </div>
        <div id="reg-form" class="container">
                    <div class="form-group">
                        <div id="form-title" class="jumbotron jumbotron">
                          <div class="container">
                              <h1 class="lead"></h1>
                          </div>
                        </div>
                    </div>
                    <table class="table">
                        <thead class="thead">
                            <tr>
                                <th>Param</th>
                                <th>Value</th>
                            </tr>
                        </thead>
                        <tbody>
                                <tr>
                                    <td>First Name</td>
                                    <td>{{ teacher.first_name }}</td>
                                </tr>
                                <tr>
                                    <td>Last Name</td>
                                    <td>{{ teacher.last_name }}</td>
                                </tr>
                                <tr>
                                    <td>Subjects</td>
                                    <td>{% for subject in subjects %} <a href="{% url 'RateApp:subject_details' subject.2 %}">{{ subject.1 }}</a> <br/> {% endfor %}</td>
                                </tr>
                                <tr>
                                    <td>How Interesting</td>
                                    <td>{{ av.0 }}</td>
                                </tr>
                                <tr>
                                    <td>How Easy</td>
                                    <td>{{ av.1 }}</td>
                                </tr>
                        </tbody>
                    </table>
                    <a href="{% url 'RateApp:teacher_details' teacher.id %}"><button type="button" id="reg-submit" class="btn btn-primary">Show Details</button></a>
            </div>

{% endblock %}

{% block error %}

        {% if form.errors %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <strong>Error!</strong> The login you've entered doesn't match any account, or password is wrong.
            </div>
        {% endif %}

        {% if messages %}
            {% for message in messages %}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <strong>{{ message.extra_tags }}</strong> {{ message }}
            </div>
            {% endfor %}
        {% endif %}


{% endblock %}

{% block scripts %}

{% endblock %}