{% extends 'base.html' %}

{% block title %} User Info {% endblock %}

{% block content %}

    <div class="jumbotron jumbotron-fluid" id="site-title">
      <div class="container">
        <h1 class="display-4">User Info</h1>
        <p class="lead">Something about You</p>
      </div>
    </div>
    <div id="reg-form" class="container">
                    <div class="form-group">
                        <div id="form-title" class="jumbotron jumbotron">
                          <div class="container">
                              <h1 class="lead">User Info</h1>
                          </div>
                        </div>
                    </div>
                    <table class="table table-bordered">
                        <thead class="thead-inverse">
                        <tr><th><i class="fa">Param</i></th><th><i class="fa">Value</i></th></tr>
                        </thead>
                        <tbody>
                        {% for field in user %}<tr>{% for users in field %}<td><i class="fa">{{ users }}</i></td>{% endfor %}</tr>{% endfor %}
                        </tbody>
                    </table>
    </div>

{% endblock %}
