{% extends 'base.html' %}

{% block title %} 404 {% endblock %}

{% block content %}

    <div class="jumbotron jumbotron-fluid" id="site-title">
      <div class="container">
          <h1><p class="lead">404</p></h1>
        <p class="lead">Ups</p>
      </div>
    </div>
    <div id="reg-form" class="container">
                    <div class="form-group">
                        <div id="form-title" class="jumbotron jumbotron">
                          <div class="container">
                              <h1 class="lead">You probably change something in URL address</h1>
                          </div>
                        </div>
                    </div>
        </div>

{% endblock %}